/* #clock {
    font-size: 175px; color: rgb(224, 221, 20);
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 10px solid rgb(56, 54, 141);
    border-radius: 20px;
} */

        #clock {
            font-size: 175px; color: rgb(15, 233, 233);
            width: 900px;
            margin: 200px;
            text-align: center;
            border: 10px solid rgb(14, 13, 15);
            border-radius: 20px;
        }
    
